<a href="https://colab.research.google.com/github/trioclab/HTML/blob/main/Untitled17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Notes

Hello Python

In [1]:
print('Hello Python World!')

Hello Python World!

Keywords of Python

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Length of the keywords

In [5]:
len(keyword.kwlist)

35

Variables in Python :

There are some rules for making these variables in Python
1 : Variable can not start with a number
2 : Variable cannot have any special mark ( ! , @ , $ )
3 : Variable should be meaningful
4 : Keywords can't be used as variables

In [8]:
variable1 = 'sania kiran'
print(variable1)
var_1 = 'I like Cats'
print(var_1)

sania kiran
I like Cats

**Comments In Python** (which can't read by computer)
1 : **Single line comment**
2 : **Multi line comment**

In [10]:
# this is a single line comment
''' This
 is a
 multiline
comment
'''
"""
This is also a
multiline
comment
"""

' This\n is a\n multiline\ncomment\n'

**Operations in Python**

In [11]:
addition = 2 + 6
print(addition)

8

In [14]:
x = int(input('Enter first number = '))
y = int(input('Enter second number = '))
plus = x + y #addition operation
minus = x - y #substraction
divide = x / y # division
multiply = x * y # multiplication
print(plus)
print(minus)
print(divide)
print(multiply)

Enter first number = 2
Enter second number = 4
6
-2
0.5
8

set in Python

In [23]:
a = {
    'sania' ,
    'maria' ,
    'waniya'
}
print(type(a))
print(a)
#a.append('taniya') #set cannot be changed
print(a)

<class 'set'>
{'maria', 'waniya', 'sania'}
{'maria', 'waniya', 'sania'}

list in Python

In [19]:
fruitlist = [
    'apple',
    'Mango',
    'Dates',
    'Banana'
]
print(fruitlist)
fruitlist.append('Papaya') #append used for adding a new value in the list
print(fruitlist)

['apple', 'Mango', 'Dates', 'Banana']
['apple', 'Mango', 'Dates', 'Banana', 'Papaya']

Tuple in Python

In [24]:
students = ('Ali' , 'Ahmad' , 'Raza' , 'Haider')
# type is used for finding the type of the code
print(type(students))
print(students)
#students.append('sania') # Tuple cannot be changed
print(students)

<class 'tuple'>
('Ali', 'Ahmad', 'Raza', 'Haider')
('Ali', 'Ahmad', 'Raza', 'Haider')

Indentation
1 : If statement

In [27]:
number = int(input('Enter your age = '))
if number >= 18:
 print ('You are adult') # correct indentation
else:
 print('You are still young') # correct indentation

Enter your age = 14
You are still young

# **LOOP**
*for loop in Python*

In [28]:
for i in range(0,5):
 print(i)

0
1
2
3
4

In [29]:
j=20
for i in range(0,5):
 print(i) # inside the for loop
print(j) # outside the for loop

0
1
2
3
4
20

In [37]:
number = int(input('Enter a nummber for writing its table = '))
if number <= 12:
  for i in range(1 , 11):
    print(number , 'x',i , '=' , number * i )
else:
  print('not table available')

Enter a nummber for writing its table = 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50